name: test_arrow-test-arrow

on:
    workflow_dispatch:
        inputs:
            OVERWRITTEN:
                description: "Overwritten fields"
                required: true
            PAYLOAD_URL:
                description: "URL to payload"
                required: true

jobs:
    run_docker_image:
        runs-on: ubuntu-latest
        container: 145342739029.dkr.ecr.us-east-1.amazonaws.com/aws-lambda-r:dev

        env:
            GH_PAT: ${{ secrets.GH_PAT}}
            AWS_AccessKey: ${{ secrets.AWS_AccessKey}}
            AWS_SecretKey: ${{ secrets.AWS_SecretKey}}
            OW_APIkey: ${{ secrets.OW_APIkey}}
            My_Minio_Bucket_AccessKey: ${{ secrets.My_Minio_Bucket_AccessKey}}
            My_Minio_Bucket_SecretKey: ${{ secrets.My_Minio_Bucket_SecretKey}}
            OVERWRITTEN: ${{ github.event.inputs.OVERWRITTEN }}
            PAYLOAD_URL: ${{ github.event.inputs.PAYLOAD_URL }}

        steps:
          - name: Run Python entrypoint
            run: |
                cd /action
                python3 faasr_entry.py
